[Unit]
Description=daphne daemon for seb
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/websocket
ExecStart=/root/websocket/venv/bin/daphne -b 0.0.0.0 -p 8001 chat.asgi:application


[Install]
WantedBy=multi-user.target